<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.1">
    <description></description>
    <keepDependencies>false</keepDependencies>
    <properties>
        <jenkins.model.BuildDiscarderProperty>
            <strategy class="hudson.tasks.LogRotator">
                <daysToKeep>-1</daysToKeep>
                <numToKeep>-1</numToKeep>
                <artifactDaysToKeep>-1</artifactDaysToKeep>
                <artifactNumToKeep>-1</artifactNumToKeep>
            </strategy>
        </jenkins.model.BuildDiscarderProperty>
        <hudson.model.ParametersDefinitionProperty>
            <parameterDefinitions>
                <alex.jenkins.plugins.FileSystemListParameterDefinition plugin="filesystem-list-parameter-plugin@0.0.3">
                    <name>PROBEDOCK_ENV</name>
                    <description></description>
                    <path>/envs</path>
                    <selectedType>FILE</selectedType>
                    <sortByLastModified>false</sortByLastModified>
                    <sortReverseOrder>false</sortReverseOrder>
                    <selectedEnumType>FILE</selectedEnumType>
                    <regexIncludePattern></regexIncludePattern>
                    <regexExcludePattern></regexExcludePattern>
                    <formatter>
                        <a class="string-builder"></a>
                        <l>en</l>
                        <zero>0</zero>
                    </formatter>
                </alex.jenkins.plugins.FileSystemListParameterDefinition>
                <hudson.model.StringParameterDefinition>
                    <name>PROBEDOCK_ADMIN_USERNAME</name>
                    <description>Define the username of the Probe Dock administrator account</description>
                    <defaultValue>admin</defaultValue>
                </hudson.model.StringParameterDefinition>
                <hudson.model.PasswordParameterDefinition>
                    <name>PROBEDOCK_ADMIN_PASSWORD</name>
                    <description>The password for this new administrator</description>
                    <defaultValue>w3kiQNy4qJhML0DmWQh0fg==</defaultValue>
                </hudson.model.PasswordParameterDefinition>
                <hudson.model.StringParameterDefinition>
                    <name>PROBEDOCK_ADMIN_EMAIL</name>
                    <description>The administrator email address</description>
                    <defaultValue></defaultValue>
                </hudson.model.StringParameterDefinition>
            </parameterDefinitions>
        </hudson.model.ParametersDefinitionProperty>
    </properties>
    <definition class="org.jenkinsci.plugins.workflow.cps.CpsScmFlowDefinition" plugin="workflow-cps@2.2">
        <scm class="hudson.plugins.git.GitSCM" plugin="git@2.4.4">
            <configVersion>2</configVersion>
            <userRemoteConfigs>
                <hudson.plugins.git.UserRemoteConfig>
                    <url>$REPO_CI</url>
                </hudson.plugins.git.UserRemoteConfig>
            </userRemoteConfigs>
            <branches>
                <hudson.plugins.git.BranchSpec>
                    <name>*/master</name>
                </hudson.plugins.git.BranchSpec>
            </branches>
            <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
            <submoduleCfg class="list"/>
            <extensions>
                <hudson.plugins.git.extensions.impl.WipeWorkspace/>
            </extensions>
        </scm>
        <scriptPath>pipelines/src/CreateAdmin.groovy</scriptPath>
    </definition>
    <triggers/>
    <concurrentBuild>false</concurrentBuild>
</flow-definition>