<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.1">
    <description></description>
    <keepDependencies>false</keepDependencies>
    <properties>
        <jenkins.model.BuildDiscarderProperty>
            <strategy class="hudson.tasks.LogRotator">
                <daysToKeep>-1</daysToKeep>
                <numToKeep>-1</numToKeep>
                <artifactDaysToKeep>-1</artifactDaysToKeep>
                <artifactNumToKeep>-1</artifactNumToKeep>
            </strategy>
        </jenkins.model.BuildDiscarderProperty>
        <hudson.model.ParametersDefinitionProperty>
            <parameterDefinitions>
                <hudson.model.StringParameterDefinition>
                    <name>PROBEDOCK_ENV</name>
                    <description>The environment to scope Probe Dock in its own context (one postgres, redis, nginx per environment)</description>
                    <defaultValue>default</defaultValue>
                </hudson.model.StringParameterDefinition>
            </parameterDefinitions>
        </hudson.model.ParametersDefinitionProperty>
    </properties>
    <definition class="org.jenkinsci.plugins.workflow.cps.CpsScmFlowDefinition" plugin="workflow-cps@2.2">
        <scm class="hudson.plugins.git.GitSCM" plugin="git@2.4.4">
            <configVersion>2</configVersion>
            <userRemoteConfigs>
                <hudson.plugins.git.UserRemoteConfig>
                    <url>https://github.com/Prevole/probedock-ci</url>
                </hudson.plugins.git.UserRemoteConfig>
            </userRemoteConfigs>
            <branches>
                <hudson.plugins.git.BranchSpec>
                    <name>*/master</name>
                </hudson.plugins.git.BranchSpec>
            </branches>
            <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
            <submoduleCfg class="list"/>
            <extensions>
                <hudson.plugins.git.extensions.impl.WipeWorkspace/>
            </extensions>
        </scm>
        <scriptPath>pipelines/src/Backup.groovy</scriptPath>
    </definition>
    <triggers/>
    <concurrentBuild>false</concurrentBuild>
</flow-definition>